<section class="home">
  <h1>Angular reusable buttons</h1>
  <div class="home__buttons">
    <app-button label="Salvar" iconName="save" ariaLabel="Salvar dados" iconPos="right"></app-button>
    <app-button label="Exportar" ariaLabel="Exportar arquivo"></app-button>
    <app-button label="Cancelar" ariaLabel="Cancelar envio"></app-button>
    <app-button label="Excluir" ariaLabel="Excluir dados"></app-button>
    <app-button label="Carregar" iconName="upload" ariaLabel="Carregar foto"></app-button>
    <app-button label="Baixar" ariaLabel="Baixar documento"></app-button>
  </div>
</section>
