/* You can add global styles to this file, and also import other style files */
body {
  //font-family: 'Roboto', sans-serif;
  font-family: 'Nunito', sans-serif;
  //font-family: 'Poppins', sans-serif;
  margin: 0;
}

:root {
  // Base
  --color-white: #FFFFFF;
  --color-black: #000000;
  // Roxo
  --color-purple-100: #EEEDFE;
  --color-purple-300: #AFA9EC;
  --color-purple-600: #534AB7;
  --color-purple-900: #26215C;
  // Verde
  --color-green-100:  #EAF3DE;
  --color-green-300:  #97C459;
  --color-green-600:  #3B6D11;
  --color-green-900:  #173404;
  // Azul
  --color-blue-100:   #E6F1FB;
  --color-blue-300:   #85B7EB;
  --color-blue-600:   #185FA5;
  --color-blue-900:   #042C53;
}
